#simple-translate {
  all: initial;
  & > div {
    all: initial;
  }
  position: absolute;

  --simple-translate-line: #ededf0;
  --simple-translate-button: #d7d7db;
  --simple-translate-highlight: #5595ff;
}

.simple-translate-light-theme {
  --simple-translate-main-text: #0c0c0d;
  --simple-translate-sub-text: #737373;
  --simple-translate-main-bg: #ffffff;
}

.simple-translate-dark-theme {
  --simple-translate-main-text: #e6e6e6;
  --simple-translate-sub-text: #aaaaaa;
  --simple-translate-main-bg: #181818;
}

// copy of .light-theme
.simple-translate-system-theme {
  --simple-translate-main-text: #000000;
  --simple-translate-sub-text: #737373;
  --simple-translate-main-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  // copy of .dark-theme
  .simple-translate-system-theme {
    --simple-translate-main-text: #e6e6e6;
    --simple-translate-sub-text: #aaaaaa;
    --simple-translate-main-bg: #181818;
  }
}
