:root {
    --main-text: #0c0c0d;
    --sub-text: #737373;
    --line: #ededf0;
    --button: #d7d7db;
    --highlight: #5595ff;
    --main-bg: #ffffff;
}

body {
    font-family: 'Segoe UI', 'San Francisco', 'Ubuntu', 'Fira Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    text-align: left;
    font-size: 13px;
    width: 348px;
    overflow: hidden;
    background-color: var(--main-bg);

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

#header {
    padding: 10px;
    background-color: var(--line);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -moz-user-select: none;
}

#title {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    cursor: default;
}

#setting {
    height: 17px;
    width: 17px;
    background-image: url("/icons/setting.png");
    background-size: 17px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#main {
    padding: 10px;
}

textarea {
    font: inherit;
    resize: none;
    overflow: auto;

    max-height: 215px;
    height: 37px;

    /* 100% - padding*2 - border*2 */
    width: calc(100% - 22px);

    padding: 10px;
    border: solid 1px var(--button);
    border-radius: 2px;
    transition: border-color 100ms ease-out;
}

textarea:hover,
textarea:focus {
    border-color: var(--highlight)
}

hr {
    border: none;
    border-top: solid 1px var(--button);
    height: 1px;
    margin: 10px 0px;
}

#target {
    max-height: 215px;
    min-height: 20px;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 0px 5px 20px;
}

#target p {
    margin: 0;
}

#target .candidate {
    color: var(--sub-text);
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px;
}

#link {
    flex-shrink: 0;
}

#link a {
    font-style: normal;
    text-decoration: none;
    color: var(--highlight);
}

#link a:hover {
    text-decoration: underline;
}


select {
    -moz-appearance: none;
    text-overflow: ellipsis;
    border: var(--button) solid 1px;
    border-radius: 2px;
    padding: 3px 5px;
    padding-right: 20px;
    width: 100%;
    transition: border-color 100ms ease-out;
}

select:hover {
    border: var(--highlight) solid 1px;
}

.selectWrap {
    position: relative;
    margin-left: 5px;
}

.selectWrap:before {
    pointer-events: none;
    content: "";
    z-index: 1;
    position: absolute;
    top: 40%;
    right: 7px;
    width: 5px;
    height: 5px;

    transform: rotate(45deg);
    border-bottom: 2px solid var(--sub-text);
    border-right: 2px solid var(--sub-text);

    transition: border-color 100ms ease-out;
}

.selectWrap:hover::before {
    border-bottom: 2px solid var(--highlight);
    border-right: 2px solid var(--highlight);
}

::-moz-selection {
    background: var(--line);
}
