.copy {
  display: flex;
  justify-content: center;

  .copiedText {
    color: var(--sub-text);
    font-size: 12px;
    margin-inline-end: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .copyButton {
    padding: 0;
    border: 0;
    background-color: var(--main-bg);
    cursor: pointer;

    svg {
      height: 16px;
      width: 16px;
      fill: var(--sub-text);
      &:hover {
        fill: var(--highlight);
      }
    }
  }
}
