#inputArea {
  margin: 10px;
  textarea {
    font: inherit;
    resize: none;
    overflow: auto;
    background-color: var(--main-bg);

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    max-height: 240px;
    min-height: 60px;

    margin: 0;
    padding: 10px;
    border: solid 1px var(--button);
    border-radius: 2px;
    transition: border-color 100ms ease-out;
  }

  textarea:hover,
  textarea:focus {
    border-color: var(--highlight);
  }
}
