.listenButton {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  svg {
    height: 16px;
    width: 16px;
    fill: var(--sub-text);
    &:hover {
      fill: var(--highlight);
    }
  }
}
