#resultArea {
  max-height: 260px;
  min-height: 30px;
  overflow-y: auto;
  word-wrap: break-word;
  background-color: var(--main-bg);
  margin: 10px 10px 3px;

  p, table {
    margin: 0;
    padding: 0px 5px;
    background-color: var(--main-bg);

    &.resultText {
      color: var(--main-text);
      font-size: 19px;
    }
    &.candidates {
      td {
        vertical-align: top;
        padding: 5px 10px 0 0;
      }

      .pos {
        font-style: italic;
      }

      .entries {
        color: var(--main-text);
      }
    }
    &.candidates,
    &.error {
      color: var(--sub-text);
      margin-top: 1em;
      &:empty {
        margin-top: 0;
      }
    }
  }

  .translateLink {
    a {
      font-style: normal;
      text-decoration: none;
      color: var(--highlight);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mediaButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
    margin-inline-end: 5px;
    & > * {
      margin-inline-start: 10px;
    }
  }
}
